#mapId { 
    height: 400px; 
}

h2 {
    text-align: center;
}
.mycluster {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    text-align: center;
    font-size: 14px;    
    line-height: 30px;
    margin-top: -20px;
    margin-left: -20px;
}